@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


:root{
    --mainFont: 'Roboto', sans-serif;
}


/* reset css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--mainFont);
}


.header{
    padding: 1rem 2rem;
}



.header-left, 
.header-right{
    list-style-type: none;
}

.header li{
    display: inline;
}

.header li a{
    color: black;
    font-size: 0.875rem;;
    padding: .5rem;
    opacity: 0.8;
}

.header li a:hover{
    opacity: 1;
    text-decoration: underline;
}

.header-left{
    float: left;
    line-height: 20px;
    vertical-align: middle;
}

.header-right{
    float: right;
}

.header-right-application {
    vertical-align: middle;
    opacity: 0.6;
}

.header-right-application:hover{
    opacity: 1;
}

.main-logo{
    width: 17rem;
    margin: 12rem auto 0;
    display: block;
}

.main-search-bar {
    height: 2.75rem;
    width: 36rem;
    border: 1px solid lightgray;
    border-radius: 1.5rem;
    margin: 1.75rem auto;
}

.main-search-bar:hover{
    box-shadow: rgba(32,33,36,.3) 0px 2px 6px 0px;
}

.main-search-bar-magnify{
    font-size: 1.3rem;
    color: rgba(32,33,36,.3);
    margin-left: .8rem;
}

.main-search-bar-input{
    border: none;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    width: 85%;
    height: 75%;
    font-size: 1.5rem;
}

.main-search-bar-input:focus-visible{
    outline: none;
}
.main-search-bar-microphone{
    height: 1.7rem;
    margin-top: .3rem;
}