@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --mainFont: 'Roboto', sans-serif, Helvetica, Arial;


}

html{
    font-family: var(--mainFont);
}

*{
    font-family: var(--mainFont);
}

a{
    text-decoration: none;
}

.main-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}